@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css?family=Nunito:200,600");


body{
    background-color: rgb(152, 152, 247);
    .addWrapper{
        margin-left: 200px;
        margin-top: 100px;
        width: 400px;
    }
}


