@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css?family=Nunito:200,600");


body{
    background-color: rgb(181, 150, 211);
}
.title{
    width: 20%;
    margin:200px auto;

}
form{
    width: 50%;
    margin:auto;
}
